<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head">
</head>
<body>
	<div class="container main-content list">
		<div class="row">
			<h2>
				<p th:text="${student.name}"></p>
			</h2>
		</div>
		<div class="row">
			<h2>Khóa Học Đã Đăng Ký</h2>
		</div>

		<div class="row">
			<table class="table table-bordered table-hover">
				<thead>
					<tr>
						<th>Tên Khóa Học</th>
						<th>Giá</th>
						<th>Xem Danh Sách SV</th>
						<th>Xem Chi Tiết</th>
						<th>Hủy Đăng Ký</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="c : ${listC}">
						<td><p th:text="${c.name}"></p></td>
						<td><p th:text="${c.price}"></p></td>
						<td><a th:href="@{/course-student/} + ${c.idCourse}"><span>
									view students </span></a></td>
						<td><a th:href="@{/course-view/} + ${c.idCourse}"><span
								class="glyphicon glyphicon-pencil"></span></a></td>
						<td><a th:href="@{/courseDelete/} + ${c.idCourse}"><span
								class="glyphicon glyphicon-trash"></span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
	</div>
	<div class="container main-content list">
		<th:block th:unless="${#lists.isEmpty(listCourse)}">
			<div class="row">
				<h2>Khóa Học Mới</h2>
			</div>
			<div class="row">
				<form action="#" th:action="@{/addCourse/} + ${student.idStudent}" method="post">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Tên Khóa Học</th>
								<th>Giá</th>
								<th>Đăng Kí</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="course : ${listCourse}">
								<td><p th:text="${course.idCourse}"></p></td>
								<td><p th:text="${course.name}"></p></td>
								<td><p th:text="${course.price}"></p></td>
								<td><input type="checkbox" name="listC[]"
									th:value="${course.idCourse}" /> <label>Chọn</label></td>
							</tr>
						</tbody>
					</table>
					<button type="submit" value="submit"
						class="btn btn-success pull-right">Đăng Ký</button>
				</form>
			</div>
	</div>
	<footer th:replace="layout :: footer"></footer>
</body>
</html>