<div class="container">
  <div class="row">
    <div class="col">
      <section>
        <header class="header">
          <div class="row">
            <div class="col-md-4">
              <h1>Course List</h1>
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-2">
              <button type="button" class="btn btn-primary" (click)="redirectNewCoursePage()"> New Course</button>
            </div>
          </div>

        </header>
      </section>

      <section class="main">

        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>email</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let course of courses">
            <th scope="row">{{course.idCourse}}</th>
            <td>{{course.name}}</td>
            <td>{{course.price}}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="editCoursePage(course)">Edit</button>
             <button type="button" class="btn btn-danger" (click)="deleteCourse(course)">Delete</button>
            </td>
          </tr>

          </tbody>
        </table>
      </section>
    </div>
  </div>
</div>
