<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<title>Spring Hibernate</title>

<link href="../static/images/logo.png" th:href="@{/images/logo.png}"
	rel="shortcut icon" />

<!-- Bootstrap -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" />
<!-- Custom style -->
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
	th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<div class="container main-content list">
		<div class="col-md-6">
			<div class="row">
				<h2>
					<a th:href="@{/student-list}"> >>List Student</a>
				</h2>
			</div>
			<th:block th:unless="${#lists.isEmpty(listStudent)}">
				<div class="row">
					<a th:href="@{/student-save}" class="btn btn-success pull-left">
						<span class="glyphicon glyphicon-plus"></span> Add new student
					</a>
					<form class="form-inline pull-right" action="#" method="GET">
						<div class="form-group">
							<input type="text" class="form-control" name="q"
								placeholder="Type contact name..." />
						</div>
						<button type="submit" class="btn btn-primary">Search</button>
					</form>
				</div>
				<div class="row">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>Age</th>
								<th>Address</th>
								<th>Phone</th>
								<th>View Course</th>
								<th>View</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="student : ${listStudent}">
								<td><p th:text="${student.idStudent}"></p></td>
								<td><p th:text="${student.name}"></p></td>
								<td><p th:text="${student.age}"></p></td>
								<td><p th:text="${student.address}"></p></td>
								<td><p th:text="${student.phone}"></p></td>
								<td><a th:href="@{/student-course/} + ${student.idStudent}"><span>
											view course </span></a></td>
								<td><a th:href="@{/student-view/} + ${student.idStudent}"><span
										class="glyphicon glyphicon-pencil"></span></a></td>
								<td><a th:href="@{/student-update/} + ${student.idStudent}"><span
										class="glyphicon glyphicon-edit"></span></a></td>
								<td><a th:href="@{/studentDelete/} + ${student.idStudent}"><span
										class="glyphicon glyphicon-trash"></span></a></td>
							</tr>
						</tbody>
					</table>
				</div>
		</div>


	</div>


	<br>




	<div class="container main-content list">
		<div class="col-md-6">
			<div class="row">
				<h2>
					<a th:href="@{/course-list}"> >>List Course</a>
				</h2>
			</div>
			<th:block th:unless="${#lists.isEmpty(listCourse)}">
				<div class="row">
					<a th:href="@{/course-save}" class="btn btn-success pull-left">
						<span class="glyphicon glyphicon-plus"></span> Add new course
					</a>
					<form class="form-inline pull-right" action="#" method="GET">
						<div class="form-group">
							<input type="text" class="form-control" name="q"
								placeholder="Type contact name..." />
						</div>
						<button type="submit" class="btn btn-primary">Search</button>
					</form>
				</div>
				<div class="row">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<th>Id</th>
								<th>Name</th>
								<th>price</th>
								<th>View Students</th>
								<th>View</th>
								<th>Edit</th>
								<th>Delete</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="course : ${listCourse}">

								<td><p th:text="${course.idCourse}"></p></td>
								<td><p th:text="${course.name}"></p></td>
								<td><p th:text="${course.price}"></p></td>
								<td><a th:href="@{/course-student/} + ${course.idCourse}"><span>
											view students </span></a></td>
								<td><a th:href="@{/course-view/} + ${course.idCourse}"><span
										class="glyphicon glyphicon-pencil"></span></a></td>
								<td><a th:href="@{/course-update/} + ${course.idCourse}"><span
										class="glyphicon glyphicon-edit"></span></a></td>
								<td><a th:href="@{/courseDelete/} + ${course.idCourse}"><span
										class="glyphicon glyphicon-trash"></span></a></td>
							</tr>
						</tbody>
					</table>
				</div>
		</div>
	</div>





	<footer th:fragment="footer" class="container pull-right">
		&copy; 2018 IFISOLUTION - Frehser Mr.Thuy. </footer>
</body>
</html>
