<ng-container>
<app-student-edit [name]="student.name" [age]="student.age" [address]="student.address">

</app-student-edit>
<ng-container>
<h2>Course List</h2>
<div>
  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="check">
      <mat-header-cell *matHeaderCellDef> Choose </mat-header-cell>
      <mat-cell *matCellDef="let course">
        <mat-checkbox value="{{course.idCourse}}">Check me!</mat-checkbox>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="idCourse">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let course"> {{course.idCourse}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let course">{{course.name}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
      <mat-cell *matCellDef="let course"> {{course.price}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <button mat-raised-button > Đăng Kí </button>
</div>
